{% extends "components/static_page.html" %}
{% load static %}
{% block style %}
    <link href="{% static "/css/blog-post.css" %}" rel="stylesheet">
{% endblock %}

{% block title %}
    День ролей - Магазин
{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="mt-4 mb-3">День ролей
            <small>Магазин</small>
        </h1>
        <div class="row">
            {% if not items %}
                <h6>Кажется, нам больше нечего тебе предложить купить ;(</h6>
            {% endif %}
            {% for item in items %}
                <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
                    <div class="card h-100">
                          <h5 class="card-header">
                            {{ item.name }}
                          </h5>
                        <a href="#"><img class="card-img-top" src="/media/{{ item.image }}" alt=""></a>
                        <div class="card-body">
                            <p class="card-text">{{ item.description }}</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">На складе <b>{{ item.amount }}</b> шт.</li>
                        </ul>
                        <form action="/buy" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="item_id" value="{{ item.id }}">
                            <input type="submit" class="btn btn-block btn-success" value="Купить за {{ item.price }} ₪">
                        </form>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}


{% block scripts %}
    <script>
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                let cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    let cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        let csrftoken = getCookie('csrftoken');


        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });

        function handle_button(event) {
            let button_data = event.srcElement.id.split("_");
            let item_id = button_data[1];
            $.ajax({
                type: "POST",
                url: "/buy",
                data: {"id": item_id},
                success: function (data) {
                    if (data["state"] > 0) {
                        let moneyHeader = $("#navbarDropdownWithMoney");
                        let second_button = $("#item" + "_2");
                        if (data["state"] === 1) {
                            first_button.hide();
                            second_button.hide();
                        } else if (data["state"] === 2) {
                            first_button.hide();
                            second_button.hide();
                        }
                    }
                }
            });
        }
    </script>
{% endblock %}