<div class="row">
    {% if user.is_authenticated %}
        <div class="col-md-12">
            <form class="form" role="form" method="post" action="/logout" accept-charset="UTF-8" id="login-nav">
                {% csrf_token %}
                {% if user.is_staff %}
                    <div class="form-group">
                        <a class="btn btn-warning btn-block" role="button" href="/real_role_admin">Админка</a>
                    </div>
                {% endif %}
                <div class="form-group">
                    <a class="btn btn-primary btn-block" role="button" href="/cart">Мои покупки</a>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-danger btn-sm btn-block">Выйти</button>
                </div>
            </form>
        </div>
    {% endif %}
</div>